<div class="container">
  <div class="row">
    <h3>Users</h3>
    <div class="column">
      <table class="table">
				<thead>
					<tr>
						<th>Unit</th>
						<th>Name</th>
						<th>Surname</th>
						<th>Telephone</th>
						<th>Active</th>
						<th>Note</th>
						<th>Role</th>
						<th>UnitName</th>
					</tr>
				</thead>
        <tbody>
          <% @users.each do |user| %>
						<% if user.active?
								@cl='class=success' 
						else
								@cl='class=active' 
						end%>
            <tr <%=@cl%>>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
				<tr></tr>
      </table>
    </div>
  </div>
</div>
